---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >MAINTENANCE</span
  >
  <a href="https://status.thackerbroadcasting.com" target="_blank" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >We will conducting maintenance on our Broadcasting system tonight. This will cause interruptions to our services. Please view our maintenance posting for more details. »</a
  >
  <!--<script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="160085" async="async" type="text/javascript"></script>-->
</div>
