---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Note from '~/components/widgets/Note.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <HeroText
    tagline="About us"
    subtitle='Learn all about us!'
  >
    <Fragment slot="title">
      Who <span class="text-accent dark:text-white highlight">We</span> Are
    </Fragment>
  </HeroText>

  <Note/>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Office', amount: '1' },
      { title: 'Employee', amount: '1' }
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Let us explain"
    subtitle="Those statistics don't look all that great."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: '1 office',
        description:
          `A remote-based company like Thacker Broadcasting doesn't require offices. Employees are able to to work from anywhere at anytime they choose.`,
        icon: 'tabler:home-off',
      },
      {
        title: '1 employee',
        description:
          'Thacker Broadcasting is an employee-owned company, consisting of one employee -- the owner! Small businesses are able to provide better services and will always give you a real person to talk to.',
        icon: 'tabler:template',
      },
      {
        title: 'Services',
        description:
          `Our service offerings are always improving and expanding, and we're happy to fill the gaps that may exist in your own business.`,
        icon: 'tabler:numbers',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="No matter our size, service offerings, or views, we still hold the same values."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          `Businesses can't exist without their customers and we're no exception. We will always do what is best for our customers, and if we aren't sure, we're one of the few companies that will ask.`,
      },
      {
        title: 'Constant Improvement',
        description:
          `We're always improving ourselves and our service offerings to make your experience better. From better systems to knowledgable support, we are always working on ourselves to make sure you have the best experience possible.`,
      },
      {
        title: 'Ethical Practices',
        description:
          `We always make sure we're up-to-date with industry standards when it comes to our practices.`,
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={1}
    items={[
      {
        title: 'Online',
        description: 'thackerbroadcasting.com',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Support Desk',
        description:
          `We're always a message away from assisting you in your journey.`,
        icon: 'tabler:messages',
      },
      {
        title: 'Email us',
        description:
          `Our email is always available.`,
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
