---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <HeroText tagline="Contact">
    <Fragment slot="title">
      We're here to <span class="text-accent highlight">help</span>
    </Fragment>
  </HeroText>

  <!-- FRESHDESK CONTACT FORM -->
  <div class="flex justify-center">
    <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
    <style type="text/css" media="screen, projection">
      @import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css); 
    </style> 
    <iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://support.thackerbroadcasting.com/widgets/feedback_widget/new?&widgetType=embedded&submitTitle=Contact+us" height="500px" width="85%" >
    </iframe>
  </div>
  
  <!-- Features2 Widget ************** -->
  <Features2
    items={[
      {
        title: 'General support',
        description: `Question? Suggestion? Concern? We're listening.`,
      },
      {
        title: 'Sales support',
        description:
          'Questions about services, pricing quotes, licensing, use cases, and more.',
      },
      {
        title: 'Technical support',
        description:
          `Facing some sort of technical issue? We're happy to help.`,
      },
      {
        title: 'Email',
        description: 'support@thackerbroadcasting.com',
        icon: 'tabler:mail',
      }
    ]}
  />
</Layout>
