---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <form action="https://formspree.io/f/xleqyrbj" method="POST">
    <ContactUs
      id="form"
      title="Drop us a message today!"
      subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking for right there! If not, our support team is delighted to help you."
      inputs={[
        {
          type: 'text',
          name: 'name',
          label: 'Name',
        },
        {
          type: 'email',
          name: 'email',
          label: 'Email',
        },
      ]}
      textarea={{
        label: 'Message',
      }}
      disclaimer={{
        label:
          'By submitting this contact form, you acknowledge and agree to the collection of your personal information. We use Formspree.io to process this form.',
      }}
      description="Our support team typically responds within 24 business hours."
    />
  </form>

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `Chat with us for inquiries related to account management, website navigation, payment issues, accessing our services or general questions about our services.`,
      },
      {
        title: 'Contact sales',
        description:
          'Chat with us for questions about purchases, options, licensing, inquiries about specific use cases, etc.',
      },
      {
        title: 'Technical support',
        description:
          'Chat with us when facing issues like listening to your streams, technical issues with our services, compatibility issues with devices or your setup, or other technical challenges.',
      },
      {
        title: 'Chat',
        description: 'Click our chat icon in the bottom right corner',
        icon: 'tabler:message',
      },
      {
        title: 'Email',
        description: 'contact@thackerbroadcasting.com',
        icon: 'tabler:mail',
      },
      //{
        //title: 'Location',
        //description: '1234 Lorem Ipsum St, 12345, Miami, EEUU',
        //icon: 'tabler:map-pin',
      //},
    ]}
  />
</Layout>
