---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Thacker Broadcasting',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Home"
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: '/contact/',
        icon: 'tabler:messages',
      },
      { 
        text: 'Learn more', 
        href: '/services/' },
    ]}
  >
    <Fragment slot="title">
      Broadcast Beyond with <span class="text-accent highlight">Thacker Broadcasting</span>
    </Fragment>

    <Fragment slot="subtitle">
        High-quality broadcasting solutions with <span class="font-semibold">fast</span> delivery, unbeatable <span class="font-semibold">flexibility</span>, best-in-class <span class="font-semibold">maintenance</span>, and a more <span class="font-semibold">personal</span> touch.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features2
    id="Services"
    tagline="Services"
    title="What we offer"
    subtitle="Highly praised with the experience to back it up. All of our offerings are fully remote and personalized to your needs."
    items={[
      {
        title: 'Music Broadcasting',
        description:
          'An easy-to-use, fully managed solution for your business. All the perks, none of the hassle.',
        icon: 'tabler:music',
      },
      {
        title: 'Podcasts',
        description:
          'Bring your idea to life with the easiest and fastest distribution system.',
        icon: 'tabler:microphone',
      },
      {
        title: 'Network Management',
        description:
          `Efficient networking with state-of-the-art management has never looked so easy.`,
        icon: 'tabler:router',
      },
      {
        title: 'Endpoint Management',
        description:
          `We'll keep your business computers up-to-date, secure, and running smooth.`,
        icon: 'tabler:device-desktop'
      },
      {
        title: 'Domain Management',
        description:
          'When it matters most, your domain needs to perform. Efficient, highly-available, and redundent measures keep the traffic flowing.',
        icon: 'tabler:cloud',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and easy-to-use networking systems to enhance guest experiences.',
        icon: 'tabler:list-check',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps 
    title="Email, chat, or support request. We're here to help."
    subtitle="Customer-centric services that better your business. This timeline shows what a typical process looks like."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact us</span>',
        description:
          "Reach out to us via email or our contact page. We'll discuss your project and what we can do to accomplish your end goal.",
        icon: 'tabler:mail',
      },
      {
        title: 'Step 2: <span class="font-medium">Survey</span>',
        description:
          "We'll need to conduct an on-site survey to figure out what the best solution would be. We'll be in touch the entire time.",
        icon: 'tabler:building',
      },
      {
        title: 'Step 3: <span class="font-medium">Installation</span>',
        description:
          `Once we've ordered all necessary equipment, it's time to install it! Requirements for this vary from site to site and project to project so please check the requirements for your installation. We'll do our best to not interrupt your day-to-day operations.`,
        icon: 'tabler:paint',
      },
      {
        title: 'Step 4: <span class="font-medium">Testing</span>',
        description:
          `After we've installed everything, it is necessary to test everything and make sure it is operating properly.`,
        icon: 'tabler:cloud',
      },
      {
        title: 'Ready!',
        description: 
          `Congratulations! Your installation was a success and everything passed with flying colors! We'll take care of everything from here.`,
        icon: 'tabler:check',
      },
      {
        title: 'Maintenance',
        description:
          `Occassional maintenance will be necessary. Most of this will be software maintenance and we'll let you know prior. If we need to come on-site for maintenance, we'll reach out and schedule with you.`,
        icon: 'tabler:tool',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->
<!--
  <Stats
    stats={[
      { title: 'Clients', amount: '2' },
      { title: 'Uptime', amount: '99.9%' },
    ]}
  />
-->
  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
  id="blog"
  title="Stay informed with our blog"
  information={``}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-blue-500/10"></div>
  </Fragment>
  </BlogLatestPosts>
</Layout>
