---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    subtitle="Carefully crafted, thoughtfully curated, customer-focused, dependable, and universally loved. This is what propels your business forward. It's also what makes us unique."
  >
    <Fragment slot="title">
      <span class="text-accent highlight">Elevate</span> experiences
    </Fragment>
  </Hero>

    <!-- Content Widget **************** -->

  <Content
    title='Managed Service Provider'
    tagline='Enterprise-Grade services without the enterprise price'
    items={[
      {
        title: 'Networking',
        description:
          `Wired or wireless. 50,000 clients or 50. Our network designs remain fast, secure, and resilient when it matters most.`, 
        icon: 'tabler:brand-speedtest',
      },
      {
        title: 'Endpoint Management',
        description:
          `Patching and monitoring. Laptops, desktops, and mobile devices. Remotely and securely. Need we say more?`,
        icon: 'tabler:device-laptop',
      },
      {
        title: 'Domain Management',
        description:
          `On-premises or cloud-based. Active Directory or DNS. Your domain lifecycle and management, now managed.`,
        icon: 'tabler:cloud-computing',
      },
      {
        title: 'Standard-Driven Practice',
        description:
          `NIST CSF, CIS Controls, COBIT. These are just some of the standards we follow. No shortcuts, no duct tape.`,
        icon: 'tabler:lock',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Benefits Image',
    }}
  >
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title='Music Broadcasting'
    tagline='A sound to match your brand'
    items={[
      {
        title: 'Branded Identity',
        description:
          `Your brand needs a unique sound. With a currated station, we match your vibe to create a station you and your customers will love.`,
        icon: 'tabler:music',
      },
      {
        title: 'Fully Licensed',
        description:
          `We'll take care of the licensing. Rest assured, every track we play is properly licensed.`,
        icon: 'tabler:wand',
      },
      {
        title: 'High Quality',
        description:
          `Crystal-clear music makes the experience that much better and listening on any device that much easier.`,
        icon: 'tabler:bubble',
      },
      {
        title: `Managed and Customizable`,
        description:
          `Easily manage music schedules, moods, or track updates remotely — or let us handle it for you.`,
        icon: 'tabler:replace'
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1618609377864-68609b857e90?q=80&w=1024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&h=576',
      alt: 'Features Image',
    }}
  >
  </Content>

  <!-- Content Widget **************** -->

  <Content
    title='Podcasts'
    tagline='Production, distribution, growth — à la carte or all-in'
    items={[
      {
        title: 'Distribution. Hassle-Free.',
        description:
          `No matter who edits your audio, we'll make sure it is available around the world.`,
        icon: 'tabler:send',
      },
      {
        title: 'Flexible and Modular',
        description:
          `Whether we produce your podcast or just distribute it, you don't need to worry. Our flexible offerings allow you to only pay for what you need.`,
        icon: 'tabler:spaces',
      },
      {
        title: 'Takeoff Imminent',
        description:
          `Whether you're a new or seasoned podcaster, we help build your podcast into something that is heard, shared, and remembered.`,
        icon: 'tabler:rocket',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1567596296091-0a257a028e72?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Benefits Image',
    }}
  >
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: '/contact/',
      },
    ]}
    title="Dive into our services"
    subtitle="Whether you're in business, education, or retail, our services are here to elevate your — and your customers — experience."
  />
</Layout>
